@import "tailwindcss";

@theme {
  --color-damage-critical: #DC2626;
  --color-damage-severe: #EA580C;
  --color-damage-moderate: #F59E0B;
  --color-damage-minor: #FCD34D;
  --color-damage-info: #3B82F6;

  /* Custom primary color palette*/
  --color-primary-50: #f0fdf9;
  --color-primary-100: #ccfbf1;
  --color-primary-200: #99f6e4;
  --color-primary-300: #5eead4;
  --color-primary-400: #2dd4bf;
  --color-primary-500: #14b8a6;
  --color-primary-600: #00dfa6;
  --color-primary-700: #0d9488;
  --color-primary-800: #0f766e;
  --color-primary-900: #134e4a;
  --color-primary-950: #042f2e;

  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F5F5F5;
  --color-neutral-200: #E5E5E5;
  --color-neutral-300: #D4D4D4;
  --color-neutral-400: #A3A3A3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0A0A0A;

  --radius: 0.5rem;
}

body {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

